body{
  background-color: black;
}
h1{
  font-family: "Orbitron";
  font-size: 32px;
  color: aqua;
  padding-top: 50px;
  padding-left: 320px;
}
h2,h3{
  font-family: 'Orbitron';
  padding-left: 5%;
  color:#ffffff;;
  font-size: 24px;
  text-align: left;
}
.detail{
  padding-left: 25px;
}
input{
  width: 180px;
  height: 5px;
  color: white;
  background-color: #000000;
  border-radius: 5px;
  border-color: #64e8ff;
  text-align:left;
  padding-top: 10px;
  padding-left: 20px;
  padding-bottom: 10px;
}
.button{
  color: white;
  background-color: #000000;
  border-radius: 5px;
  border-color: #64e8ff;
  font-family: "Orbitron";
}
::placeholder{
  color:#ffffff;
  font-family: "Orbitron";
}

.deets{
  margin-right: auto;
  margin-left: auto;
  width: 50%;
  height: 50%;
  border-radius: 16px;
  background-color: #5a6e75;  
  backdrop-filter: blur(50px);
  border-color: #64e8ff;
  padding-top: 20px;
  padding-bottom: 20px;
}