body{
  background-color: #000000;
}
img{
  width: 30px;
  height: 30px;
}

input{
  width: 180px;
  height: 5px;
  color: white;
  background-color: #000000;
  border-radius: 5px;
  border-color: #64e8ff;
  text-align:left;
  padding-top: 10px;
  padding-bottom: 10px;
}
::placeholder{
  color:#ffffff;
  font-family: "Orbitron";
}
.button{
  color: white;
  background-color: #000000;
  border-radius: 5px;
  border-color: #64e8ff;
  font-family: "Orbitron";
}
h3{
  padding-top: 3rem;
  font-family: 'Orbitron';
  color:#64e8ff;;
  font-size: 32px;
  text-align: center;
}
.base-m1{
  margin-right: auto;
  margin-left: auto;
  width: 30%;
  height: 40%;
  border-radius: 16px;
  background-color: #7e9ca6;  
  backdrop-filter: blur(50px);
  border-color: #64e8ff;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
.detail{
  display: inline-block;
  padding: 1rem;
  vertical-align: middle;
}